---
title: Fixes for Simone
---

<% content_for :head do %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css" />

<style>
#content {
  max-width: 32em;
}
</style>
<% end %>

<a href="index.html" class="govuk-back-link">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/complex_language/good" %>

<%= partial "/_example_snippets/icon_font/good" %>
