---
title: Issues for Claudia
---

<% content_for :head do %>
<style>
#content {
  max-width: 50em;
}
</style>
<% end %>

<a href="index.html" class="govuk-back-link">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/large_blocks_of_text/bad", locals: { include_intro_box: false } %>


## Quiz questions

<form action="<%= url_for '/fake.html' %>" method="get">
  <%= partial "/_example_snippets/form_fields_no_label/bad" %>

  <button class="govuk-button" data-module="govuk-button">
    Send
  </button>
</form>
