---
title: Page with accessibility issues for Claudia
---

<% content_for :head do %>
<style>
#content {
  max-width: 50em;
}
</style>
<% end %>

<a href="index.html" class="link-back">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/large_blocks_of_text/bad", locals: { include_intro_box: false } %>


## Quiz questions

<form action="/fake.html" method="get">
  <%= partial "/_example_snippets/form_fields_no_label/bad", locals: { right_align_inputs: true } %>

  <button class="button" type="submit">Send</button>
</form>
