---
title: Issues for Ashleigh
---

<% content_for :head do %>
<style>
#content {
  max-width: 32em;
}
</style>
<% end %>

<a href="index.html" class="link-back">Back</a>

# <%= current_page.data.title %>

<form action="<%= url_for '/fake.html' %>" method="get">
  <%= partial "/_example_snippets/form_fields_no_label/bad", locals: { right_align_inputs: false } %>

  <button class="button" type="submit">Send</button>
</form>


## Types of assistive technology used to access GOV.UK

<%= partial "/_example_snippets/graph_no_alt/bad" %>
