---
title: Fixes for Chris
---

<% content_for :head do %>
<style>
#content {
  max-width: 50em;
}
</style>
<% end %>

<a href="index.html" class="govuk-back-link">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/table/good" %>

<%= partial "/_example_snippets/refer_to_colour/good", locals: { colour: "green", name: "Submit" } %>
