
## Check out our social media

<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-twitter-alt"><span class="govuk-visually-hidden">Twitter</span></span></a>
<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-facebook"><span class="govuk-visually-hidden">Facebook</span></span></a>
<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-instagram"><span class="govuk-visually-hidden">Instagram</span></span></a>
<a href="<%= url_for '/success.html' %>" class="social-media"><span class="ti-youtube"><span class="govuk-visually-hidden">YouTube</span></span></a>
