
## Check out our social media

<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-twitter-alt"></span> Twitter</a>
<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-facebook"></span> Facebook</a>
<a href="<%= url_for '/fail.html' %>" class="social-media"><span class="ti-instagram"></span> Instagram</a>
<a href="<%= url_for '/success.html' %>" class="social-media"><span class="ti-youtube"></span> YouTube</a>
