// Ensure that we're not using GDS Transport on a non-GOV.UK domain
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "govuk_tech_docs";

// Back link styles - with left pointing arrow

.link-back {
  display: inline-block;
  position: relative;

  @include govuk-font(16);

  margin-top: $govuk-gutter-half;
  margin-bottom: $govuk-gutter-half;
  padding-left: 14px;

  color: govuk-colour('black');

  &:link,
  &:visited,
  &:hover,
  a#{&}:focus,
  &:active {
    color: govuk-colour('black');
  }

  text-decoration: none;
  border-bottom: 1px solid govuk-colour('black');

  // Back arrow - left pointing black arrow
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-right: 6px solid $govuk-text-colour;
    border-bottom: 5px solid transparent;

    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }

  // Fallback
  // IE8 doesn't support rgba and only supports the single colon syntax for :before
  // Ref: http://caniuse.com/#search=%3Abefore, http://caniuse.com/#search=rgba
  @include govuk-if-ie8 {
    background: file-url("icon-arrow-left.png") no-repeat 0 4px;
  }
}

// Link styles
.link {
  color: $govuk-link-colour;
  text-decoration: underline;
}

.link:visited {
  color: $govuk-link-visited-colour;
}

.link:hover {
  color: $govuk-link-hover-colour;
}

.link:active {
  color: $govuk-link-colour;
}

/* ____________ example snippets ____________ */

.pagination {
  padding-top: 1em;
}

.pagination.good a {
  padding: .7em 1em;
  border: 1px solid;
  margin-right: .5em;
}

.govuk-box-highlight.bad {
  color: govuk-colour('green');
}

.govuk-box-highlight.good {
  @include govuk-font(24);
}

.fullscreen-scrollable-table {
  overflow-x: auto;
}

.fullscreen-scrollable-table::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #ccc;
}

.fullscreen-scrollable-table::-webkit-scrollbar-thumb {
  background: #666;
}

table.register-data-table {
  background-color: govuk-colour('light-grey');

  th,
  td {
    padding-left: .5em;
  }

  &.bad th,
  &.bad td {
    padding-right: 2em;
  }

  // for tooltip
  th {
    position: relative;
    white-space: nowrap;
  }
}

.tooltip {
  background-color: govuk-colour('white');
  border: 3px solid $govuk-border-colour;
  width: 10em;
  padding: .5em;
  position: absolute;
  top: 1.5em;
  left: 0;
  white-space: normal;
  font-weight: normal;
  display: none;
}

.bad.tooltip-trigger:hover + .tooltip {
  display: block;
}

.good.tooltip-trigger:focus + .tooltip {
  display: block;
}

button.red {
  background-color: $govuk-error-colour;
}

button.blue {
  background-color: $govuk-link-colour;
}

.game-button {
  display: inline-block;
}

/* make icons from icon font bigger */
.social-media > span {
  font-size: 200%;
}

.social-media {
  text-decoration: none;
}

/*
  This fixes an odd behaviour with Claudia's bad example page:
  Although we intentionally removed the labels before the form fields,
  there is still a clickable area which focuses on the input,
  which leads to people finding the input quicker than they otherwise would.
*/
.form-group:after {
  width: 0;
}

/*
  Heading anchors are confusing screen reader users doing Ashleigh's tasks.
  This hides their icons from anything without a sidebar. It's a bit of a hack.
  Pages with sidebars are more likely to be documentation and to benefit from the anchors.
*/
.app-pane__body:not([data-module="in-page-navigation"]) .anchored-heading__icon {
  display: none;
}


/* ____________ documentation pages ____________ */

img.profile {
  width: 128px;
  height: 128px;
  float: right;
  margin: 0 0 .2em .5em;

  @include govuk-media-query($from: tablet) {
    width: 256px;
    height: 256px;
  }
}
