// copied from frontend toolkit, no idea how to reference it otherwise before SASS files are called
$helvetica-regular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

$toolkit-font-stack: $helvetica-regular;
$toolkit-font-stack-tabular: $helvetica-regular;

@import "govuk_tech_docs";

// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
// $path: "/public/images/";

// Import some bits of GOV.UK elements
@import "govuk_frontend_toolkit/design-patterns/buttons";
@import "elements";

/* ____________ other manual imports from Elements ____________ */

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $focus-colour;
  outline-offset: 0;
}

form,
table {
  margin-top: 1em;
}

fieldset {
  border: none;
  padding: 0;
}

// Back link styles - with left pointing arrow

.link-back {
  @include inline-block;
  position: relative;

  @include core-16;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding-left: 14px;

  color: $black;

  &:link,
  &:visited,
  &:hover,
  a#{&}:focus,
  &:active {
    color: $black;
  }

  text-decoration: none;
  border-bottom: 1px solid $black;

  // Back arrow - left pointing black arrow
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-right: 6px solid $text-colour;
    border-bottom: 5px solid transparent;

    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }

  // Fallback
  // IE8 doesn't support rgba and only supports the single colon syntax for :before
  // IE7 doesn't support pseudo-elements, let's fallback to an image instead.
  // Ref: http://caniuse.com/#search=%3Abefore, http://caniuse.com/#search=rgba
  @include ie-lte(8) {
    background: file-url("icon-arrow-left.png") no-repeat 0 4px;
  }
}

// Link styles
.link {
  color: $link-colour;
  text-decoration: underline;
}

.link:visited {
  color: $link-visited-colour;
}

.link:hover {
  color: $link-hover-colour;
}

.link:active {
  color: $link-colour;
}

/* ____________ example snippets ____________ */

.pagination {
  padding-top: 1em;
}

.pagination.good a {
  padding: .7em 1em;
  border: 1px solid;
  margin-right: .5em;
}

.govuk-box-highlight.bad {
  color: $panel-colour;
}

.govuk-box-highlight.good {
  @include core-24;
}

.fullscreen-scrollable-table {
  overflow-x: auto;
}

table.register-data-table {
  background-color: $highlight-colour;

  th,
  td {
    padding-left: .5em;
  }

  &.bad th,
  &.bad td {
    padding-right: 2em;
  }

  // for tooltip
  th {
    position: relative;
    white-space: nowrap;
  }
}

.tooltip {
  background-color: $white;
  border: 3px solid $border-colour;
  width: 10em;
  padding: .5em;
  position: absolute;
  top: 1.5em;
  left: 0;
  white-space: normal;
  font-weight: normal;
  display: none;
}

.bad.tooltip-trigger:hover + .tooltip {
  display: block;
}

.good.tooltip-trigger:focus + .tooltip {
  display: block;
}

button.red {
  background-color: $error-colour;
}

button.blue {
  background-color: $link-colour;
}

.game-button {
  display: inline-block;
}

/*
  This fixes an odd behaviour with Claudia's bad example page:
  Although we intentionally removed the labels before the form fields,
  there is still a clickable area which focuses on the input,
  which leads to people finding the input quicker than they otherwise would.
*/
.form-group:after {
  width: 0;
}

/* ____________ documentation pages ____________ */

img.profile {
  width: 128px;
  height: 128px;
  float: right;
  margin: 0 0 .2em .5em;

  @include media(tablet) {
    width: 256px;
    height: 256px;
  }
}

/* the "Dyslexia Friendly" Chrome extension creates a ruler on the page
   which overlaps the text on some pages like ours so that links cannot be clicked on;
   this makes the ruler a bit smaller so links work again;
   reported and can be removed again after this has been fixed:
   https://github.com/javoire/dyslexia-friendly/issues/18 */
#ruler {
  pointer-events: none;
}
