## Who runs government

<% if include_intro_box %>
  <div class="bad govuk-box-highlight">
    In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers.
  </div>
<% end %>

The Prime Minister is head of the UK government. They are ultimately responsible for all policy and decisions. They oversee the operation of the Civil Service and government agencies, appoint members of the government and are the principal government figure in the House of Commons. The Prime Minister is The Rt Hon Theresa May MP. [Read more about the Prime Minister's Office, 10 Downing Street](/fake.html).

The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government. [See who is in the Cabinet](/fake.html).

1 Prime Minister + 22 Cabinet ministers + 98 Other ministers = 121 Total ministers.
Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.
[See full list of ministers](/fake.html).
