## Who runs government

<% if include_intro_box %>
  <div class="govuk-panel govuk-panel--confirmation bad">
    <div class="govuk-panel__body">
      In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers.
    </div>
  </div>
<% end %>

The Prime Minister is head of the UK government. They are ultimately responsible for all policy and decisions. They oversee the operation of the Civil Service and government agencies, appoint members of the government and are the principal government figure in the House of Commons.

The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government.

1 Prime Minister + 22 Cabinet ministers + 94 Other ministers = 117 Total ministers.
Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.
