<div class="form-group">
  <div class="form-label-bold" style="float: left;">
    What year is it?
  </div>
  <input class="form-control form-control-1-4" id="year" name="year" type="text" style="float: right;" />
</div>

<div class="form-group">
  <fieldset>

    <div class="form-label-bold" style="float: left;">
      Are you a human?
    </div>

    <div class="multiple-choice" style="float: right;">
      <input id="humantest-yes" type="radio" name="humantest" value="yes">
      <label for="wrong-id">Yes</label>
    </div>

    <div class="multiple-choice" style="float: right;">
      <input id="humantest-no" type="radio" name="humantest" value="no">
      <label for="wrong-id">No</label>
    </div>

  </fieldset>
</div>
