---
title: Issues for Pawel
---

<% content_for :head do %>
<style>
#content {
  max-width: 32em;
}
</style>
<% end %>

<a href="index.html" class="govuk-back-link">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/timer/timer" %>

<%= partial "/_example_snippets/complex_language/good" %>

<%= partial "/_example_snippets/refer_to_colour/good", locals: { colour: "blue", name: "Save" } %>
