<div class="good pagination">
  <a href="<%= url_for '/fail.html' %>" class="current">1</a>
  <a href="<%= url_for '/success.html' %>">2</a>
  <a href="<%= url_for '/fail.html' %>">3</a>
  <a href="<%= url_for '/fail.html' %>">4</a>
</div>
