---
title: Example issues for Saleem
---

<a href="index.html" class="link-back">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/complex_language2/bad" %>

<%= partial "/_example_snippets/video/bad" %>
