---
title: Example fixes for Saleem
---

<a href="index.html" class="link-back">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/complex_language2/good" %>

<%= partial "/_example_snippets/video/good" %>
