---
title: Fixes for Saleem
---

<% content_for :head do %>
<style>
#content {
  max-width: 32em;
}
</style>
<% end %>

<a href="index.html" class="govuk-back-link">Back</a>

# <%= current_page.data.title %>

<%= partial "/_example_snippets/unstructured_text/good" %>

<%= partial "/_example_snippets/video/good" %>
