<div class="govuk-form-group">
  <div class="govuk-label">
    What year is it?
  </div>
  <input class="govuk-input govuk-!-width-one-quarter" id="year" name="year" type="text" autocomplete="off" />
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-fieldset__legend">
      Are you a human?
    </div>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="humantest-yes" name="humantest" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="wrong-id">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="humantest-no" name="humantest" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="wrong-id">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>