<div class="form-group">
  <label class="form-label-bold" for="year">
    What year is it?
  </label>
  <input class="form-control form-control-1-4" id="year" name="year" type="text" autocomplete="off" />
</div>

<div class="form-group">
  <fieldset>

    <legend class="form-label-bold">
      Are you a human?
    </legend>

    <div class="multiple-choice">
      <input id="humantest-yes" type="radio" name="humantest" value="yes">
      <label for="humantest-yes">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="humantest-no" type="radio" name="humantest" value="no">
      <label for="humantest-no">No</label>
    </div>

  </fieldset>
</div>
