## Click the blue button

<form action="<%= url_for '/fail.html' %>" method="get" class="game-button">
  <button class="govuk-button" data-module="govuk-button">Submit</button>
</form>

<form action="<%= url_for '/success.html' %>" method="get" class="game-button">
  <button class="govuk-button blue" data-module="govuk-button">Save</button>
</form>

<form action="<%= url_for '/fail.html' %>" method="get" class="game-button">
  <button class="govuk-button red" data-module="govuk-button">Cancel</button>
</form>
