## Click the red button

<form action="/fail.html" method="get" class="game-button">
  <button class="button" type="submit">Click</button>
</form>

<form action="/success.html" method="get" class="game-button">
  <button class="button red" type="submit">Click</button>
</form>

<form action="/fail.html" method="get" class="game-button">
  <button class="button blue" type="submit">Click</button>
</form>
