## Click the Koala button

<form action="<%= url_for '/fail.html' %>" method="get" class="game-button">
  <button class="govuk-button" type="submit">Rabbit</button>
</form>

<form action="<%= url_for '/success.html' %>" method="get" class="game-button">
  <button class="govuk-button red" type="submit">Koala</button>
</form>

<form action="<%= url_for '/fail.html' %>" method="get" class="game-button">
  <button class="govuk-button blue" type="submit">Wolf</button>
</form>
